name: Block "fixup" commit merges

on:
  workflow_call:

jobs:
  check-commits:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout base repo
      uses: actions/checkout@v3
      with:
        ref: ${{ github.event.pull_request.base.ref }}

    - name: Checkout to the pull request's branch
      run: gh pr checkout ${{ github.event.pull_request.number }}
      env:
        GH_TOKEN: ${{ github.token }}

    - name: Look for the fixup prefix
      id: search-for-fixup-prefix
      run: |
        commit_messages=$(git log origin/${{ github.event.pull_request.base.ref }}..HEAD --format=%B)
        fixup_commits=$(echo "$commit_messages" | grep "^fixup" || true)
        if [ -n "$fixup_commits" ]; then
            echo "Please make sure that all commits that have the 'fixup' prefix need to be squashed before merging."
            echo "Commits with 'fixup' prefix:"
            echo "$fixup_commits"
            exit 1
        fi
